.section-container {
  h3 {
    text-align: center;
  }
}

.framework-tabs,
.file-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #ffbd59;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
}

.code-examples-container {
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 40vh;
  background-color: #ffbd5918;
  color: #000000;
  margin: auto;
  border-radius: 10px;
  border: #ffbd59 solid 1px;
  position: relative;

  pre {
    font-family: monospace;
    margin: 0;
    padding: 10px;
    overflow: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  button {
    background-color: #ffbd59;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

html, body {
  background-color: #ffbd59;
}
