<app-landing-nav></app-landing-nav>
<app-landing-three-bg style="position: fixed; z-index: -1;"></app-landing-three-bg>
<div class="privacy-policy-container">
  <h1>FormBee Privacy Policy</h1>
  <p>Last updated: 08/19/2024</p>
  
  <section>
    <h2>1. Introduction</h2>
    <p>At FormBee, we are committed to protecting your personal information and your right to privacy. This Privacy Policy explains how we collect, use, and share your information when you use our form backend service. If you have any questions or concerns, please contact us at contact&#64;formbee.dev</p>
  </section>

  <section>
    <h2>2. Information We Collect</h2>
    <p>We collect information that you provide directly to us, such as when you create an account, use our services, or contact us for support. This may include:</p>
    <ul>
      <li>Public github account information whenever you create an account or log in (e.g. username, githubId, etc.)</li>
      <li>Account credentials</li>
      <li>Payment information</li>
    </ul>
    <p>We also collect information automatically, such as:</p>
    <ul>
      <li>IP address, browser type, and usage data through cookies and analytics tools. Review our cookie policy to learn more about how we use cookies.</li>
      <li>Access times and referring URLs</li>
    </ul>
  </section>

  <section>
    <h2>3. How We Use Your Information</h2>
    <p>We use your information to:</p>
    <ul>
      <li>Provide, maintain, and improve our services</li>
      <li>Process transactions and send related information</li>
      <li>Respond to your comments, questions, and requests</li>
      <li>Send you technical notices, updates, and administrative messages</li>
      <li>Monitor and analyze usage and trends to improve your experience</li>
      <li>Protect against fraudulent, unauthorized, or illegal activity</li>
    </ul>
  </section>

  <section>
    <h2>4. Data Security</h2>
    <p>We implement appropriate technical and organizational measures to protect your data against unauthorized or unlawful processing, accidental loss, destruction, or damage. For instance, we use encryption for data transmission and store data in secure environments. This includes AES-256 encryption of all sensitive information in our database. FormBee salts and hashes all sensitive information. However, no method of transmission over the internet or electronic storage is completely secure.</p>
  </section>

  <section>
    <h2>5. Data Retention</h2>
    <p>We retain your personal information for as long as necessary to fulfill the purposes outlined in this privacy policy, unless a longer retention period is required or permitted by law.</p>
    <p>We do not retain any data from forms submitted using FormBee.</p>
  </section>

  <section>
    <h2>6. Your Rights</h2>
    <p>You have the right to:</p>
    <ul>
      <li>Access your personal information</li>
      <li>Correct or update your personal information</li>
      <li>Delete your personal information</li>
      <li>Object to or restrict certain types of processing</li>
    </ul>
    <p>To exercise these rights, please contact us at contact&#64;formbee.dev. If you are not satisfied with our response, you have the right to lodge a complaint with a data protection authority.</p>
  </section>

  <section>
    <h2>7. International Data Transfers</h2>
    <p>We may transfer your personal data to countries outside of your residence. Where we do so, we ensure that the data is transferred in accordance with this Privacy Policy and as permitted by applicable data protection laws, implementing appropriate safeguards such as the EU Standard Contractual Clauses.</p>
  </section>

  <section>
    <h2>8. Children's Privacy</h2>
    <p>We do not knowingly collect personal information from children under the age of 13 (or other relevant age, as required by local laws). If we become aware that a child has provided us with personal information, we will take steps to delete such information.</p>
  </section>

  <section>
    <h2>9. Changes to This Policy</h2>
    <p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page and updating the "Last updated" date above.</p>
  </section>

  <section>
    <h2>10. Contact Us</h2>
    <p>If you have any questions about this Privacy Policy, please contact us at contact&#64;formbee.dev</p>
  </section>
</div>
<app-landing-footer></app-landing-footer>