<div class="billing">
    <app-dashboard-nav [name]="name" [login]="login" [profilePic]="profilePic" [githubId]="githubId"></app-dashboard-nav>
    <div class="billing-container">
        <div class="billing-header">
            <h2>Billing</h2>
            <p>Manage your subscription and billing information</p>
        </div>
        <div class="border-bottom"></div>

        <div style="margin-top: 0px;" class="billing-header">
            <h2>Active Plan</h2>
        </div>
        <div *ngIf="loading" class="loading-container">
            <div class="loading-spinner"></div>
            <p>Buzzy, buzz... loading...</p>
        </div>
        <div class="billing-info" *ngIf="!loading">
            <!-- Move the glowing hexagons container inside billing-card -->
            <div class="billing-card">
                <div class="glowing-hexagons-container">
                    <div *ngFor="let hexagon of hexagons" [ngStyle]="hexagon.style" class="hexagon"></div>
                </div>
                <!-- Add the transparent layer inside billing-card but above glowing-hexagons-container -->
                <div class="transparent-layer"></div> 
                    <div class="current-plan">
                        <div>
                            <h1>{{subscriptionTier}} Plan</h1>
                            <p *ngIf="subscriptionTier === 'Starter'">You are currently on the Starter plan which is free</p>
                            <p *ngIf="subscriptionTier === 'Growth'">You are currently on the Growth plan which is $5/month</p>
                            <p *ngIf="subscriptionTier === 'Premium'">You are currently on the Premium plan which is $25/month</p>
                        </div>
                        <div>
                            <button *ngIf="subscriptionTier !== 'Starter'" class="manage-button" (click)="managePlan()">Manage Subscription</button>
                            <button *ngIf="subscriptionTier === 'Starter'" class="manage-button" (click)="viewPlans()">View Premium Plans</button>
                        </div>
                    </div>
                    <div class="plan-info">
                        <div class="plan-item">
                            <h4>Billing Cycle</h4>
                            <h4>Monthly</h4>
                        </div>
                        <div class="plan-item">
                            <h4>Max Submissions</h4>
                            <h4>{{maxSubs}}/month</h4>
                        </div>
                        <div class="plan-item" style="border-bottom: none;">
                            <h4>Max Enabled Plugins</h4>
                            <h4>{{maxPlugins}}</h4>
                    </div>
                <h4 style="color: var(--text-color2); text-wrap: nowrap;"class="billing-desc">Next Cycle Starts On: {{resetDate}}</h4>
                </div>
            </div>
            <div class="stripe-info">
                <div *ngIf="cardStateService.cardState || !last4Digits" class="billing-email">
                    <p>Payment Info</p>
                    <p class="billing-desc">Monthly subscriptions will be charged from this card.</p>
                    <app-stripe-card-element [githubId]="githubId"></app-stripe-card-element>
                </div>
                <div *ngIf="!cardStateService.cardState && last4Digits" class="billing-email">
                    <p>Payment Info</p>
                    <p class="billing-desc">Monthly subscriptions will be charged from this card.</p>
                    <p class="input">A card ending in {{last4Digits}}</p>
                    <button (click)="editPaymentMethod()">Edit</button>
                </div>
                <div class="billing-email">
                        <p>Update billing email</p>
                        <p class="billing-desc">All receipts will be sent to this email.</p>
                        <input id="billingEmail" class="input" type="email" placeholder="Email" value="{{billingEmail}}">
    
                        <button (click)="updateBillingEmail()">Save</button>
                </div>
            </div>
        </div>

    </div>

    <app-billing-plans id="BillingComponent" [githubId]="githubId" [subscriptionTier]="subscriptionTier" *ngIf="!loading"></app-billing-plans>

</div>
<div *ngIf="invalidEmail" class="invalid-email">{{invalidEmail}}</div>
<div *ngIf="successMessage" class="success-message">{{successMessage}}</div>
<script src="https://js.stripe.com/v3/"></script>