<div class="modal-container">
    <div class="modal-shadow">
        <div class="spacing-modal">
            <button class="close-button" (click)="closeModal()">&times;</button>

        </div>

        <div class="modal">
            @if (subscriptionTier == "Starter") {
                <p style="color: rgb(189, 0, 0);">Return emails only available on Growth and Premium plans.</p>
            }

            @if (subscriptionTier == "Growth") {
                <p style="color: rgb(50, 161, 148);">Upgrade to Premium to send return emails from custom email addresses. For now they are sent from a FormBee email address.</p>
            }
            <div class="modal-header">
                <h2 class="modal-header-text">Return Email Settings</h2>
            </div>
            <p class="modal-p">Customize the address, and the email that will be sent to users who submit your forms.</p>
            <div class="modal-header-switch">
                <div class="stacked-div">
                    <h2 class="modal-p modal-h2">Toggle Return Email</h2>
                    <p class="modal-p">Enable or disable the return email feature.</p>
                </div>
                <label class="switch">
                    <input type="checkbox" (click)="toggleSwitch()" id="toggleSwitch">
                    <span class="slider round"></span>
                </label>
            </div>
                <div class="smpt-container">
                    <div class="smtp-header">
                        <h2 class="modal-header-text">Custom SMTP Settings</h2>
                        <p class="modal-p">Have an email with a custom SMTP server? Configure it here.</p>
                    </div>
                    <div class="smtp-input-container">
                        <h2 class="modal-h2">SMTP Host</h2>
                        <input type="text" id="smtp-host-input-host" class="smtp-input" placeholder="smtp.example.com" value="{{ smtpHost }}">
                    </div>
                    <div class="smtp-input-container">
                        <h2 class="modal-h2">SMTP Port</h2>
                        <input type="text" id="smtp-port-input-port" class="smtp-input" placeholder="587(example)" value="{{ smtpPort }}">
                    </div>
                    <div class="smtp-input-container">
                        <h2 class="modal-h2">Username</h2>
                        <input type="text" id="smtp-username-input-username" class="smtp-input" placeholder="Username" value="{{ smtpUsername }}">
                    </div>
                    <div class="smtp-input-container">
                        <h2 class="modal-h2">Password</h2>
                        <input type="text" id="smtp-password-input-password" class="smtp-input" placeholder="Password" value="{{ smtpPassword }}">
                    </div>
                </div>

                <div class="return-email-contents">
                    <h2 class="modal-header-text">Return Email Contents</h2>
                    <p class="modal-p">Customize the contents of the return email.</p>
                    <div class="stacked-div">
                        <div class="smtp-input-container">
                            <h2 class="modal-h2">Subject</h2>
                            <input id="email-subject-input-subject" type="text" class="smtp-input" placeholder="A really awesome email" value="{{ emailSubject }}">
                        </div>
                        <div class="smtp-input-container body-section">
                            <h2 class="modal-h2">Body</h2>
                            <textarea 
                                class="return-email-input email-body" 
                                placeholder="Type your email message here..."
                                rows="10"
                                spellcheck="true"
                                id="email-body-input-body"
                                value="{{ emailBody }}"
                            ></textarea>
                        </div>
                    </div>
                </div>
                
            <div class="modal-footer">
                <button class="modal-button cancel-button" (click)="closeModal()">Cancel</button>
                <button class="modal-button" (click)="saveChanges()">Save</button>
            </div>
        </div>
        <div class="spacing-modal-2"></div>
    </div>
</div>