
<section class="landing-features">
    <div class="backdrop">
        <div class="container">
            <div class="feature feature-1">
                <div class="top">
                    <img src="../../assets/PoWHexagon-removebg-preview.png" alt="PoW Captcha Solution">
                    <h1>PoW Captcha</h1>
                </div>
                <div class="content">
                    <p>Most captcha solutions harvest both yours, and your users data. We offer an optional PoW (Proof of Work) captcha instead, which provides a better user experience, and doesn't harvest any data.</p>
                    <button (click)="goToDocsCaptcha()">Learn More</button>
                </div>

            </div>
            <div class="feature feature-2">
                <div class="top">
                    <img src="../../assets/MoreHexagon__1_-removebg-preview.png" alt="Customizable Form Templates">
                    <h1>Completely Open Source</h1>
                </div>
                <div class="content">
                    <p>FormBee is completely open source, and we welcome contributions from the community. Our code is available on Github, and you can use it for free.</p>
                    <button (click)="goToGithub()">View on Github</button>
                </div>
            </div>
            <div class="feature feature-3">
                <div class="top">
                    <img src="../../assets/LockHexagon-removebg-preview.png" alt="Secure Data Handling">
                    <h1>Secure Data Handling</h1>
                </div>
                <div class="content">
                    <p>All form data submitted using Formbee is encrypted and never stored on our servers.</p>
                    <button (click)="goToPrivacyPolicy()">Learn More </button>
                </div>
            </div>
            <div class="feature feature-4">
                <div class="top">
                    <img src="../../assets/MoreHexagon-removebg-preview.png" alt="Form Builder Documentation">
                    <h1>Many More Features</h1>
                </div>
                <div class="content">
                    <p>Browse our docs to learn more about our features.</p>
                    <button (click)="goToDocs()">View All Features</button>
                </div>
            </div>
        </div>
    </div>

</section>