
<section class="landing-features">
    <div class="container">
        <div class="feature-1">
            <img >
            <p>Most captcha solutions harvest both yours, and your users data. We offer an optional PoW captcha instead, which provides a better user experience, and doesn't harvest any data.</p>
            <button>Learn More</button>

        </div>
        <div class="feature-2">
            <img >
            <p>Customizable form templates.</p>
            <button>Learn More</button>
        </div>
        <div class="feature-3">
            <img >
            <p>Secure form data handling and encyption.</p>
            <button>Learn More</button>

        </div>
        <div>
            <button >View All Features</button>
        </div>
    </div>
</section>