// CSS animation to rotate the images
@keyframes rotate {
  0% {
    transform: rotate(0deg);

  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


.landing-features {
    height: fit-content;
    background-image: linear-gradient(to bottom, #ffbd59, #ffffff);
    padding-top: 20vh;
    z-index: -10;
}
.backdrop {
    background-image: linear-gradient(75deg, #2b2b2b76, #78336743);
    // backdrop-filter: blur(10px);
    margin: 10px;
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-bottom: 35vh;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;

    .feature-1, .feature-2, .feature-3, .feature-4 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        // background-image: radial-gradient(
        //     farthest-corner at 40px 40px,
        //     #ff77590b 40%,
        //     rgba(241, 180, 26, 0.103) 100%
        //   );
        min-height: 250px;
        width: 45%;
        margin: 20px;
        // padding: 20px;
        // border-radius: 30px;
        // box-shadow: rgb(46, 36, 5) 3px 3px 6px 0px inset, rgba(34, 28, 8, 0.5) -3px -3px 6px 1px inset;
        overflow:visible;
    }
    button {
        background-color: #FFBD59;
        color:#2a2624;
        padding: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color, box-shadow 0.3s ease-out;
        overflow: hidden;
        border: solid 1px #c69245;
        box-shadow: rgba(204, 155, 39, 0.2) 1.95px 1.95px 2.6px;
      }
      
      button:hover {
        background-color: #c69245;
        border: solid 1px #FFBD59;
        box-shadow: rgba(204, 155, 39, 0.4) 5px 5px, rgba(204, 155, 39, 0.3) 10px 10px, rgba(204, 155, 39, 0.2) 15px 15px, rgba(204, 155, 39, 0.1) 20px 20px, rgba(204, 155, 39, 0.05) 25px 25px;
    
      }
      .top {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
      }
      img {
        height: 100px;
        width: auto;
        will-change: transform;
        // animation: rotate 5s linear infinite;
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
      }
}

@media screen and (max-width: 768px) {
    .container {
        .feature-1, .feature-2, .feature-3, .feature-4 {
            width: 100%;
            margin: 10px;
        }

    }
    .backdrop {
      margin-bottom: 20vh;
  }
}

.container:hover {
    img {
        animation: rotate 5s linear 1;
    }
}