
<section class="landing-features">
    <div class="container">
        <div class="feature feature-1">
            <div class="top">
                <img src="path_to_image1.jpg" alt="PoW Captcha Solution">
                <h1>PoW Captcha</h1>

            </div>
            <p>Most captcha solutions harvest both yours, and your users data. We offer an optional PoW captcha instead, which provides a better user experience, and doesn't harvest any data.</p>
            <button>Learn More</button>

        </div>
        <div class="feature feature-2">
            <h1>Customizable Form Templates</h1>
            <img src="path_to_image2.jpg" alt="Customizable Form Templates">
            <p>Customizable form templates.</p>
            <button>View</button>
        </div>
        <div class="feature feature-3">
            <h1>Secure Data Handling</h1>
            <img src="path_to_image3.jpg" alt="Secure Data Handling">
            <p>Secure form data handling and encryption.</p>
            <button>Learn More</button>
        </div>
        <div class="feature feature-4">
            <h1>+ Many More Features</h1>
            <img src="path_to_image4.jpg" alt="Form Builder Documentation">
            <p>Browse our docs to learn more about our features.</p>
            <button>View All Features</button>
        </div>

    </div>
</section>