<div class="pricing-section" id="pricing-section">
    <h1>Other Plans</h1>
    <p>Empowering your apps forms with simple, transparent pricing.</p>
    <div class="prices">
        <div class="price-card free" *ngIf="subscriptionTier !== 'Starter'">
            <div class="price-header">Starter</div>
            <div class="price-amount">$0</div>
            <div class="price-description">Ideal for personal or hobby projects</div>
            <ul class="price-features">
                <li>- 250 submissions per month</li>
                <li>- 50 localhost submissions (for development)</li>
                <li>- Form Templates</li>
                <li>- No limit on how many forms you can link to your API key</li>
                <li>- Maxiumum of 1 plugin active at a time</li>
                <li>- No CC required</li>
            </ul>
            <div class="price-action">
                <button (click)="downGradeToFree()">Downgrade Plan</button>
            </div>
        </div>
        <div class="price-card tier-1" *ngIf="subscriptionTier != 'Growth'">
            <div class="price-header">Growth</div>
            <div class="price-amount">$5/month</div>
            <div class="price-description">Perfect for medium-sized or multiple projects</div>
            <ul class="price-features">
                <li>- 1,000 Submissions/Month</li>
                <li>- Access to PoW captcha API</li>
                <li>- Auto-Response Emails (Formbee email domain only)</li>
                <li>- All Plugins</li>
                <li>- Unlimited plugins active at a time</li>
            </ul>
            <div class="price-action">
                <button  (click)="upgradeToGrowth()" *ngIf="subscriptionTier !== 'Premium'">Upgrade Plan</button>
                <button *ngIf="subscriptionTier === 'Premium'" (click)="upgradeToGrowth()">Change Plan</button>
            </div>
        </div>

        <div class="price-card tier-2" *ngIf="subscriptionTier != 'Premium'">
            <div class="price-header">Premium</div>
            <div class="price-amount">$25/month</div>
            <div class="price-description">Well suited for large projects and organizations</div>
            <ul class="price-features">
                <li>- 10,000 submissions/month</li>
                <li>- Auto-Response Emails from custom domains</li>
                <li>- All features from growth and starter plans</li>
                <li>- Priority support</li>
                <li></li>
            </ul>
            <div class="price-action">
                <button (click)="upgradeToPremium()">Upgrade Plan</button>
            </div>
        </div>
    </div>

</div>
