<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <label for="name">Name:</label>
    <input id="name" formControlName="name">
    <div>
      Name is required.
    </div>
  
    <label for="email">Email:</label>
    <input id="email" formControlName="email">
    <div>
      Enter a valid email.
    </div>
  
    <label for="message1">Message:</label>
    <textarea id="message1" formControlName="message1"></textarea>
    <div>
      Message is required.
    </div>
    <altcha-widget
    challengeurl="http://localhost:3000/challenge"
  ></altcha-widget>
    <button type="submit">Submit</button>
  </form>
  