<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <label for="name">Name:</label>
    <input id="name" formControlName="name" name="name">
    <div>
      Name is required.
    </div>
  
    <label for="email">Email:</label>
    <input id="email" formControlName="email" name="email">
    <div>
      Enter a valid email.
    </div>
  
    <label for="message">Message:</label>
    <textarea id="message" formControlName="message" name="message"></textarea>
    <label for="image">Image:</label>
    <input type="file" id="image" formControlName="image" (change)="onFileSelected($event)">
    <div>
      Message is required.
    </div>
    <altcha-widget
    class="altcha"
    challengeurl="http://localhost:3000/challenge"
    hidelogo
    hidefooter
  ></altcha-widget>
    <button type="submit">Submit</button>
  </form>
  