/* Main container styling */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 100%;
  max-width: 50vw; /* Adjust max-width to a percentage for better responsiveness */
  margin: 0 auto;
  border-radius: 12px;
  padding: 2rem;
  z-index: 1;
  margin-top: 5vh;
}

/* Form styling */
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 100%; /* Ensure the form takes up available space */
}

/* Heading styling */
.contact-container h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
}

/* Form label styling */
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #555;
  font-size: 1.2rem;
  width: fit-content;
}

/* Input and textarea styling */
input,
textarea {
  display: block;
  width: 100%;
  max-width: 100%; /* Adjust input/textarea to fit within container */
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: #ffeac42d;
  transition: all 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #eeac123d;
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(227, 189, 34, 0.2);
}

/* Button styling */
button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #f8c42a;
  color: rgb(58, 58, 58);
  border: none;
  border-radius: 8px;
  max-width: 300px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
  margin: 0 auto; /* Center the button */
}

button:hover {
  background-color: #a09245;
  box-shadow: 0 8px 20px rgba(175, 147, 76, 0.3);
}

/* Altcha widget spacing */
.altcha {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 700px) {
  .contact-container {
    max-width: 80vw;
  }
}

.altcha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

.error {
  text-align: center;
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.form-complete {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0; /* Reset any margins to avoid extra offset */
  width: 100vw;
    height: 100vh;
  background-color: #474747ba;
  z-index: 1000;
}

.form-complete h2 {
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 0px;
    text-align: center;
}

.form-complete p {
  color: var(--text-color2);
  padding: .5rem;
  text-align: center;
  font-size: 1.2rem;
  width: fit-content;
  margin-bottom: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: var(--shadow-color) 0px 8px 16px;
  max-width: 30vw;
  height: fit-content;
  align-self: center;
  justify-self: center;
  margin-top: 1rem;
  background-color: var(--background-color1);
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .form-complete p {
    font-size: 1rem;
    margin: 1rem;
    text-align: center;
    max-width: 100%;
    width: 90vw;
    box-sizing: border-box;
   }
}