.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    position: relative;
  }
  
  .header-content {
    z-index: 2;
    max-width: 45rem;
    margin-top: 10rem;
  }
  
  h1 {
    font-size: 3rem;
    margin: 0;
    line-height: 3rem;
  }
  
  p {
    font-size: 1rem;
    margin: 0;
    margin-top: 2rem;
  }
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    border-radius: 50%;
  }

.blured-background {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.973);
}

a {
  color: #FFBD59;
}