.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    position: relative;
  }
  
  .header-content {
    z-index: 2;
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
  }
  
  p {
    font-size: 16px;
    margin: 0;
  }
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    border-radius: 50%;
  }

.blured-background {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.973);
}