.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    position: relative;
  }
  
  .header-content {
    z-index: 2;
    max-width: 45rem;
    // margin-top: 2rem;
  }
  
  h1 {
    font-size: 3rem;
    margin: 0;
    line-height: 3rem;
    text-shadow:2px whitesmoke ;
  }
  
  p {
    font-size: 1rem;
    margin: 0;
    margin-top: 2rem;
    text-shadow:1px 1px whitesmoke ;

    
  }
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    border-radius: 50%;
  }


a {
  color: #FFBD59;
}

.button {
  background-color: #FFBD59;
  color:#2a2624;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color, box-shadow 0.3s ease-out;
  overflow: hidden;
  border: solid 1px #c69245;
  box-shadow: rgba(204, 155, 39, 0.2) 1.95px 1.95px 2.6px;
  margin-top: 2rem;
}

.button:hover {
  background-color: #c69245;
  border: solid 1px #FFBD59;
  box-shadow: rgba(204, 155, 39, 0.4) 5px 5px, rgba(204, 155, 39, 0.3) 10px 10px, rgba(204, 155, 39, 0.2) 15px 15px, rgba(204, 155, 39, 0.1) 20px 20px, rgba(204, 155, 39, 0.05) 25px 25px;

}