<h1 class="name-text">Welcome, {{ name }}!</h1>

<div class="user-info">
  <div class="Section">
    <div class="usage-info">
    <p>Current API Usage</p>
    <div class="usage-bar">
      <div class="usage-progress" [style.width]="maxSubs > 0 ? currentSubs / maxSubs * 100 + '%' : '0%'"></div>
    </div>
    <p class="usage-text">{{ currentSubs }} / {{ maxSubs }}</p>
  </div>
  </div>
  <div class="Section">
    <div class="usage-info">
    <p>Current Localhost Submissions</p>
    <div class="usage-bar">
      <div class="usage-progress" [style.width]="localHostMaxSubs > 0 ? localHostCurrentSubs / localHostMaxSubs * 100 + '%' : '0%'"></div>
    </div>
    <p class="usage-text">{{ localHostCurrentSubs }} / {{ localHostMaxSubs }}</p>
  </div>
  </div>
  <div class="api-key-handling">
    <p>Current API Key</p>
    <p *ngIf="!apiKey">loading API key...</p>
<div class="api-key-display">
  <div class="obfu">
    <div class="obfuscation"></div>
    <p *ngIf="apiKey">{{ displayApiKey }}</p>
  </div>
  <button class="api-buttons" (click)="copyToClipboard()">Copy API Key</button>
</div>
    <button class="api-buttons generate" (click)="newApiKey()">Generate new key</button>
  </div>
</div>