<h1 class="name-text">Welcome {{ name }}!</h1>

<div class="user-info">
  <div class="Section">
    <div class="usage-info">
    <p>Current API Usage</p>
    <div class="usage-bar">
      <div class="usage-progress" [style.width]="usagePercent + '%'"></div>
    </div>
    <p class="usage-text">{{ usagePercent }}%</p>
  </div>
  </div>
    <div class="api-key-handling">
      <p>Current API Key</p>
      <p *ngIf="!apiKey">loading API key...</p>
      <p *ngIf="apiKey">{{ apiKey }}</p>
    </div>
</div>