$primary-color: #2b2d42;
$secondary-color: #ffba2fd7;
$accent-color: #ffb700;
$text-color: #fff875;
$background-color: #2f4858;
$border-color: #1e8576;
$shadow-color: rgba(0, 0, 0, 0.2);

p {
    color: $text-color;
    margin-top: 0;
    padding-top: 0;
    font-size: 1rem;
}

.user-info {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    justify-content: center;
    min-height: 90vh;
    p {
        margin-bottom: 1rem;
    }
}

.Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    box-shadow: $shadow-color 0px 8px 16px;
    width: 40vw;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid $border-color;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
        transform: translateY(-5px);
        box-shadow: $shadow-color 0px 12px 24px;
    }
}

.usage-bar {
    background-color: $background-color;
    border-radius: 5px;
    height: 8px;
    width: 100%;
    margin-bottom: 1rem;
}

.usage-progress {
    background-color: $accent-color;
    height: 100%;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}

.usage-text {
    margin-top: 0.5rem;
    color: $text-color;
    font-weight: bold;
}

.divider {
    width: 2px;
    height: 80%;
    background-color: rgba(255, 179, 0, 0.066);
    border-radius: 5px;
}

.dropdown {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    position: relative;
}

.name-text {
    color: $text-color;
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: fit-content;
    margin-left: 2rem;
}

.api-key-handling {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    box-shadow: $shadow-color 0px 8px 16px;
    border: 1px solid $border-color;
    height: auto; 
    border-radius: 10px;
    width: 40vw;
    margin: 1rem;
    padding: 1rem;
    max-height: 139px;

}

.api-key-display {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
}

.obfuscation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-image: linear-gradient(to right, $primary-color 0%, $background-color 100%);
    border-radius: 10px;
}

.obfu {
    position: relative;
    z-index: 5;
    p {
        margin-bottom: 0;
        color: $text-color;
    }
}

.api-buttons {
    background-color: $secondary-color;
    color: $primary-color;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color, box-shadow 0.3s ease-in-out;
    border: solid 1px $border-color;
    margin: 0.5rem;

    &:hover {
        background-color: $accent-color;
        box-shadow: $shadow-color 0px 4px 6px;
    }
}

.generate {
    margin-top: 10px;
}

.usage-info {
    width: 100%;
    p {
        font-size: 1rem;
        text-align: center;
        color: $text-color;
    }
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    border-radius: 10px;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid $border-color;

    input {
        margin-top: 10px;
        padding: 10px;
        border: 1px solid $border-color;
        border-radius: 5px;
        width: 90%;
        background-color: #2a2624;
        color: $text-color;
    }
}

.email p {
    font-size: 1rem;
    color: $text-color;
    text-align: center;
}

.email input::placeholder {
    color: $secondary-color;
}

.email-btn {
    margin: 10px;
}

.email-text {
    color: $text-color;
}

.email-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.email-error {
    color: #ef233c;
    font-size: 0.8rem;
    margin-top: 10px;
}

.returnEmails {
    margin-top: 2rem;
}

@media screen and (max-width: 480px) {
    .api-key-handling {
        width: 80vw;
        p {
            font-size: 1rem;
        }
    }
    .Section {
        width: 90vw;
    }
    .api-key-display {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        button {
            width: 50%;
            margin-top: 10px;
        }
    }
    .name-text {
        font-size: 2rem;
        margin-left: 1rem;
    }
}
