p {
    color: white;
    margin-top: 0px;
    padding-top: 0px;
}

.user-info {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;
    margin-top: 60px;
    justify-content: center;
}

.Section {
    display: flex;
    background-color: rgba(255, 179, 0, 0.13);
    width: 40vw;
    height: 20vh;
    margin: 2rem;
    margin-top: 0px;
    margin-right: 0px;
    padding: 0.5rem;

    padding-top: 0px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.usage-bar {
    background-color: #333;
    border-radius: 5px;
    height: 8px;
    width: 100%;
}

.usage-progress {
    background-color: #FFBD59;
    height: 100%;
    border-radius: 5px;
}

.usage-text {
    margin-right: 0.5rem;
}

.divider {
    width: 2px;
    height: 80%;
    background-color: rgba(255, 179, 0, 0.066);

    border-radius : 5px;
}

.dropdown {

    cursor: pointer;

    display: flex;

    align-items: center;

    padding: 0 0.5rem;

    position: relative;
}

.name-text {
    color: #c69245;

    font-size: 2rem;
    margin-top: 4rem;
    margin-left: 40px;
}

.api-key-handling {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    background-color: rgba(255, 179, 0, 0.13);
    height: 20vh;
    border-radius: 20px;
    margin-left: 2rem;
    width: 85vw;
}

.api-key-display {
    display: flex;
    flex-direction: row;
    position: relative; /* Make this element the containing block for absolutely positioned children */
}

.obfuscation {
    position: absolute; /* Positioning it absolutely within the container */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10; /* Ensure obfuscation is above the text */
    background-image: linear-gradient(to right, rgb(36, 28, 7),rgb(63, 50, 16), rgba(255, 179, 0, 0));
    border-radius: 10px;
    p {
        margin-bottom: 0px;
    }
}

.obfu {
    position: relative; /* Ensure text is within relative context of .obfuscation */
    z-index: 5; /* Ensure text is below the obfuscation */
    p {
        margin-bottom: 0px;
    }
}

.api-buttons {
    background-color: #FFBD59;
    color:#2a2624;
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color, box-shadow 0.3s ease-out;
    overflow: hidden;
    border: solid 1px #c69245;
    box-shadow: rgba(204, 155, 39, 0.2) 1.95px 1.95px 2.6px;
    margin-left: 5px;
}

.api-buttons:hover {
    background-color: #c69245;
    border: solid 1px #FFBD59;
    box-shadow: rgba(9, 8, 7, 0.4) 2px 2px, rgba(204, 155, 39, 0.3) 4px 4px, rgba(204, 155, 39, 0.2) 6px 6px, rgba(204, 155, 39, 0.1) 8px 8px, rgba(204, 155, 39, 0.05) 10px 10px;
}

.generate {
    margin-top: 10px;
}

.usage-info {
    width: 100%;
    p {
        font-size: 1.1rem;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .api-key-handling {
        width: 90vw;
        margin-left: 0px;
    }
    .Section {
        width: 90vw;
        margin-left: 0px;

    }
    .api-key-display {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        button {
            width: 50%;
            margin-top: 10px;
        }
    }
}

p {
    font-size: 1.3rem;
}


.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 179, 0, 0.13);
    border-radius: 20px;
    height: 20vh;
    margin: 2rem;
    padding: 0.5rem;
    justify-content: center;
    input {
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #c69245;
        border-radius: 5px;
        width: 90%;
        background-color: #2a2624;
        color: white;
    }
}

.email p {
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
}

.email input::placeholder {
    color: #c69245;
}

.email {
    margin-bottom: 32px;
}
