<app-landing-nav></app-landing-nav>
<app-landing-three-bg style="position: fixed; z-index: -1;"></app-landing-three-bg>

<div class="cookie-policy-container">
  <h1>Cookie Policy</h1>
  
  <section>
    <h2>Overview</h2>
    <p>This Cookie Policy explains how we use cookies and similar technologies when you use our website.</p>
  </section>

  <section>
    <h2>What Are Cookies?</h2>
    <p>Cookies are small text files stored on your device by your web browser. They help websites remember information about your visit, like your preferred language and other settings.</p>
  </section>

  <section>
    <h2>Cookies We Use</h2>
    <p>We only use cookies related to our GitHub OAuth integration, and Stripe. Here are the details of each github related oauth cookies:</p>
    <ul>
      <li>_octo - Identifies GitHub OAuth sessions.</li>
      <li>color_mode - Stores your theme preference.</li>
      <li>dotcom_user - Used for GitHub OAuth.</li>
      <li>logged_in - Indicates if you are logged into GitHub.</li>
      <li>preferred_color_mode - Stores preferred color mode.</li>
      <li>tz - Stores time zone information.</li>
    </ul>
    <p>Stripe cookies are used for fraud prevention and security purposes.</p>
  </section>

  <section>
    <h2>Managing Cookies</h2>
    <p>You can set your browser to not accept cookies.</p>
  </section>

  <section>
    <h2>Changes to This Cookie Policy</h2>
    <p>We may update this Cookie Policy from time to time. We encourage you to review this page periodically for any changes.</p>
  </section>
</div>

<app-landing-footer></app-landing-footer>