.dashboard {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: var(--background-color1);

}

.loading {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color1);
}
p {
    margin: 0;
}