<div class="loading" *ngIf="loading">
  <div class="hexagon-container">
    <div class="hexagon"></div>
  </div>
  <p>FormBee is loading... buzz buzz...</p>
</div>
<div *ngIf="!loading" class="dashboard">
  <app-dashboard-nav [name]="name" [login]="login" [profilePic]="profilePic" [githubId]="githubId"></app-dashboard-nav>
  <app-dashboard-user-info [name]="name" [githubId]="githubId" [currentTheme]="currentTheme"></app-dashboard-user-info>
</div>

<script src="https://js.stripe.com/v3/"></script>