<div class="landing-what">
    <div class="container">
        <div class="image-1">
            <p>Your user submits a form</p>
            <img alt="FormBee submitting" src="../../assets/FormHexagon1.png" class="dia-image">
        </div>
        <div class="image-2">
            <img alt="FormBee email" src="../../assets/MailHexagon-removebg-preview.png" class="dia-image">
            <p>We send the data to your email.</p>
        </div>
    </div>

</div>
<div class="plugins-section">
    <p>Then optionally, you can:</p>
    <div class="slideshow">
      <div class="plugin-slide" *ngFor="let plugin of plugins; let i = index" [class.active]="i === currentPluginIndex">
        <img [src]="plugin.icon" [alt]="plugin.name">
        <p>{{plugin.description}}</p>
      </div>
    </div>
  </div>