<header class="admin-header">
    <div class="logo-container">
      <img (click)="dashboard()" src="../../assets/FormBee-logo2.png" alt="Logo" class="logo">
    </div>
    <div class="user-section">
      <div class="user-info">
        <div class="user-details">
          <button class="tier-button" (click)="goToBilling()">{{subscriptionTier}}</button>
          <div class="divider"></div>
          <p>{{currentSubs}} / {{maxSubs}}</p>
        </div>
        <div class="dropdown" (click)="toggleDropdown()">
          <img [src]="profilePic" alt="Profile Pic" class="profile-pic">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
              [class.flipped]="isDropdownOpen">
            <path d="M7 10l5 5 5-5H7z" fill="#C69245"/>
          </svg>
          <div class="dropdown-menu" [class.active]="isDropdownOpen" (click)="$event.stopPropagation()">
            <div class="dropdown-header">
              <img [src]="profilePic" alt="Profile Pic" class="dropdown-profile-pic">
              <div class="dropdown-user-info">
                <h3>{{name}}</h3>
                <p>{{login}}</p>
              </div>
            </div>
            <ul class="dropdown-list">
              <li>
                <a (click)="isThemeMenuOpen = !isThemeMenuOpen">
                  Theme: {{currentTheme}}
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                      [class.flipped]="isThemeMenuOpen">
                    <path d="M7 10l5 5 5-5H7z" fill="#C69245"/>
                  </svg>
                </a>
                <ul class="theme-submenu" [class.active]="isThemeMenuOpen">
                  <li *ngFor="let theme of themes" (click)="changeTheme(theme)">
                    <a>{{theme.split("-")[0].charAt(0).toUpperCase() + theme.split("-")[0].slice(1)}}</a>
                  </li>
                </ul>
              </li>
              <li (click)="openBilling()"><a>Billing</a></li>
              <li (click)="goToDocs()"><a>Docs</a></li>
              <li (click)="logout()"><a>Log Out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>