.admin-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: #4b4021;
    padding: 0.5rem 1rem;
    color: white;
    height: 60px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 45px;
    cursor: pointer;
    margin-left: 24px;
    border-radius: 10px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  .nav-link:hover {
    color: #bbb;
  }
  
  .user-section {
    display: flex;
    align-items: center;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  
  .profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  
  .user-details {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 179, 0, 0.13);
    margin: 5px;
    margin-right: 1rem;
    align-items: center;
    padding: 0px;
    height:30px;
    border-radius: 5px;
    p {
      padding: 5px;
      color: #c69245;
    font-size: .9rem;

    }
  }
  
  .user-name {
    font-weight: bold;
  }
  
  .tier-button {
    background: none;
    border: none;
    color: #c69245;
    cursor: pointer;
    height: fit-content;
    font-size: .9rem;
    transition: color 0.2s ease-in-out;
  }
  
  .tier-button:hover {
    color: #c7b781;
  }
  
  .usage-info {
    display: flex;
    align-items: center;
  }
  
  .usage-text {
    margin-right: 0.5rem;
  }
  
  .usage-bar {
    background-color: #333;
    border-radius: 5px;
    height: 8px;
    width: 100px;
  }
  
  .usage-progress {
    background-color: #4caf50;
    height: 100%;
    border-radius: 5px;
  }

  .divider {
    width: 2px;
    height: 80%;
    background-color: rgba(255, 179, 0, 0.066);

    border-radius : 5px;
  }

  .dropdown {

    cursor: pointer;

    display: flex;

    align-items: center;

    padding: 0 0.5rem;

    position: relative;
  }