<div class="upgrade-to-growth">
    <app-dashboard-nav></app-dashboard-nav>
    <div class="center-container">
        <div class="upgrade-to-growth-container">
            <h1>Join to Premium Plan</h1>
            <p>Features in the Premium Plan</p>
            <div class="features">
                <p>10,000 submissions/month</p>
                <p>Auto-Response Emails from custom domains</p>
                <p>All features from growth and starter plans</p>
                <p>Priority support</p>
            </div>
        </div>
        <div *ngIf="!loading" class="upgrade-to-growth-container pay-pay-div">
            <div class="payment-div">
                <p class="start-plan">Start the Premium Plan</p>
                <div class="method-div">
                    <h2 *ngIf="last4Digits">Payment Method</h2>
                    <div class="row">
                        <div *ngIf="last4Digits"><p class="last-4">Your card ending in {{last4Digits}}</p></div>
                        <button *ngIf="last4Digits" class="edit-button" (click)="goToBilling()">Edit</button>
                    </div>
                </div>
                <div class="method-div">
                    <div *ngIf="subscriptionLoading" class="loading-spinner"></div>
                    <div *ngIf="!last4Digits" id="card-element"></div>
                </div>
                <p *ngIf="errorMessage" class="error-message">{{errorMessage}}</p>
            </div>
            <div class="button-div">
                <button (click)="handleFormSubmit()">Subscribe to Premium Plan</button>
            </div>
            <p class="p-sub">a charge of $25/month will be applied, starting whenever you subscribe</p>

        </div>
        <div *ngIf="loading" class="loading-spinner"></div>
    </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
